---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<section class="h-screen relative">
		<div class="absolute z-[-1] top-0 bottom-0">
			<video src="public/Homepage-Test_Drive-NA-Desktop.webm" autoplay muted loop></video>
		</div>
		<div class="h-full w-full flex flex-col items-center text-white text-center">
			<h1 class="text-[40px] mt-[17vh] font-medium">Experience Tesla</h1>
			<p class="text-sm">Schedule a Demo Drive Today</p>
			<a href="#" class="absolute bottom-[80px] rounded border-[3px] border-white text-sm font-medium w-[264px] py-[7px]">Demo Drive</a>
		</div>
	</section>
</Layout>
