---
import AccessoriesSection from "../components/Home/AccessoriesSection.astro";
import HomeHeroSection from "../components/Home/HomeHeroSection.astro";
import Model3Section from "../components/Home/Model3Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla">
  <div
    id="home-page-box"
    class="h-[calc(100vh-1px)] snap-y snap-mandatory overflow-y-scroll after:z-[99999] after:content-[''] after:absolute after:bottom-[-1px] after:w-full after:border-b-[2px] after:border-[#000000]"
  >
    <HomeHeroSection />
		<Model3Section />
		<AccessoriesSection />
  </div>
</Layout>