---
import AccessoriesSection from "../components/Home/AccessoriesSection.astro";
import HomeHeroSection from "../components/Home/HomeHeroSection.astro";
import Model3Section from "../components/Home/Model3Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla">
  <div
    id="home-page-box"
    class="w-full h-screen sticky top-0 left-0 snap-y snap-mandatory overflow-y-scroll "
  >
    <HomeHeroSection />
		<Model3Section />
		<AccessoriesSection />
  </div>
</Layout>

<script>
  // const scrollTop = window.pageYOffset || document.querySelector("#home-page-box").scrollTop;
  // console.log((document.querySelector("#home-page-box") as HTMLElement).children[0]);
  // console.log((document.querySelector("#home-page-box") as HTMLElement).clientHeight);
  // console.log((document.querySelector("#home-page-box") as HTMLElement).offsetHeight);
  // console.log((document.querySelector("#home-page-box") as HTMLElement).scrollHeight);
 

  ([...document.querySelectorAll(".h-screen")] as HTMLElement[]).forEach(
    (el) => {
      el.style.height = `${window.innerHeight}px`;
    }
  );
</script>
