---
import AccessoriesSection from "../components/Home/AccessoriesSection.astro";
import HomeHeroSection from "../components/Home/HomeHeroSection.astro";
import Model3Section from "../components/Home/Model3Section.astro";
import Layout from "../components/layouts/Layout.astro";
import LayoutHeader from "../components/layouts/LayoutHeader/LayoutHeader.astro";
---

<Layout title="Tesla" homePage>
  <LayoutHeader color="white" />
  <div
    id="home-page-box"
    class="h-screen snap-y snap-mandatory overflow-y-scroll"
    style="height: 100svh;"
  >
    <HomeHeroSection />
    <Model3Section />
    <AccessoriesSection />
  </div>
</Layout>
