---
import AccessoriesSection from "../components/Home/AccessoriesSection.astro";
import HomeHeroSection from "../components/Home/HomeHeroSection.astro";
import Model3Section from "../components/Home/Model3Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla">
  <div
    id="home-page-box"
    class="h-screen absolute snap-y snap-mandatory overflow-y-scroll "
  >
    <HomeHeroSection />
		<Model3Section />
		<AccessoriesSection />
  </div>
</Layout>

<script>
  ([...document.querySelectorAll(".h-screen")] as HTMLElement[]).forEach(
    (el) => {
      el.style.height = `${window.innerHeight}px`;
    }
  );
</script>
