---
import HeroSection from '../components/Home/HeroSection.astro';
import Model3Section from '../components/Home/Model3Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<HeroSection />
		<Model3Section />
	</div>
</Layout>
