---
import AccessoriesSection from "../components/Home/AccessoriesSection.astro";
import HomeHeroSection from "../components/Home/HomeHeroSection.astro";
import Model3Section from "../components/Home/Model3Section.astro";
import LayoutHeader from "../components/LayoutHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla" homePage>
  <LayoutHeader color="white" />
  <div
    id="home-page-box"
    class="h-[calc(100vh-1px)] snap-y snap-mandatory overflow-y-scroll after:z-[99999] after:content-[''] after:absolute after:bottom-[-1px] after:w-full after:border-b-[2px] after:border-[#000000]"
  >
    <HomeHeroSection />
    <Model3Section />
    <AccessoriesSection />
  </div>
</Layout>

<script>
  const $sliderBox = document.querySelector("#home-page-box") as HTMLElement;
  const $eles = [...document.querySelectorAll(".h-screen")] as HTMLElement[];
  let cursorPositionRef = [0];
  let prevXRef = { prevPageY: 0, prevScrollTop: 0 };
  let dragActived = false;

  const resizeBoxes = () => {
    $eles.forEach((el, i) => {
      if (i + 1 !== $eles.length) {
        el.style.height = `${window.innerHeight}px`;
      }
    });
  };

  window.addEventListener("resize", resizeBoxes);

  // $sliderBox.addEventListener("touchmove", (e: TouchEvent) => {
  //   // !e.touches && e.preventDefault();

  //   const mousePosition = e.touches[0].pageY - prevXRef.prevPageY;
  //   console.log(mousePosition);
  //   cursorPositionRef.push(mousePosition);
  //   // $sliderBox!.scrollTop = prevXRef.prevScrollTop - mousePosition;
  // });

  // $sliderBox.addEventListener("touchstart", (e) => {
  //   dragActived = true;

  //   prevXRef = {
  //     prevPageY: e.touches[0].pageY,
  //     prevScrollTop: $sliderBox!.scrollTop,
  //   };
  // });

  // $sliderBox.addEventListener("touchend", (e) => {
  //   if (!dragActived) return;
  //   autoCenterScroll();
  //   dragActived = false;
  // });

  const getScrollingDirection = () => {
    let goNext = false;
    const lastElement = cursorPositionRef.at(-1) ?? 0;
    const smallestNumber = Math.min(...cursorPositionRef);
    const biggestNumber = Math.max(...cursorPositionRef);

    if (lastElement === smallestNumber) {
      goNext = true;
    }
    if (lastElement === biggestNumber) {
      goNext = false;
    } else if (lastElement > 0) {
      goNext = true;
    }

    cursorPositionRef = [0];
    return { goNext };
  };

  const autoCenterScroll = () => {
    const sliderHeight = $sliderBox!.offsetHeight;
    const { goNext } = getScrollingDirection();

    //* next and prev are based on the current carousel top width no visible
    const next = Math.round(
      ($sliderBox!.scrollTop + sliderHeight / 2) / sliderHeight
    );
    const prev = Math.round(
      ($sliderBox!.scrollTop - sliderHeight / 2) / sliderHeight
    );
    // const itemsTop = Math.round(carousel!.scrollTop / sliderHeight);

    if (goNext) {
      //*: next * sliderHeight = new top width no visible
      $sliderBox!.scrollTop = next * sliderHeight;
    } else {
      //*: prev * sliderHeight = new top width no visible
      $sliderBox!.scrollTop = prev * sliderHeight;
    }
  };
</script>
