---
import SectionContent from "./SectionContent.astro";
---

<SectionContent
  headerColor="black"
  homeSectionName="accessories"
  image={{ srcDesktop: "home/Desktop_Accessories.avif", srcMobile: "home/Homepage-Accessories-Mobile.avif", alt: "accessories" }}
>
  <header>
    <h2 class="text-[36px] sm:text-[40px] font-medium">
      Accessories
    </h2>
  </header>
  <footer class="container">
    <a
      href="#"
      class="btn-dark mx-auto"
      >Shop Now</a
    >
  </footer>
</SectionContent>
