---
import SectionContent from "./SectionContent.astro";
---

<SectionContent
  headerColor="black"
  homeSectionName="accessories"
  image={{ srcDesktop: "home/Desktop_Accessories.avif", srcMobile: "home/Homepage-Accessories-Mobile.avif", alt: "accessories" }}
>
  <header>
    <h2 class="text-[36px] sm:text-[40px] mt-[17.5vh] font-medium">
      Accessories
    </h2>
  </header>
  <footer class="">
    <a
      href="#"
      class="container sm:w-[264px] rounded bg-[#171A20] text-sm font-medium h-[40px] flex items-center justify-center text-white hover:bg-[#171a20de] transition-colors duration-300"
      >Shop Now</a
    >
  </footer>
</SectionContent>
