---
import SectionContent from "./SectionContent.astro";
---

<SectionContent headerColor="black" homeSectionName="accessories" image={{ src: "/Desktop_Accessories.avif", alt: "accessories" }}>
  <header>
    <h1 class="text-[39px] mt-[17.5vh] font-medium">Accessories</h1>
  </header>
  <footer class="grid grid-cols-[264px] place-content-center gap-[24px] pb-[80px]">
    <a href="#" class="rounded bg-[#171a20de] text-sm font-medium h-[40px] flex items-center justify-center text-white hover:bg-[#171A20] transition-colors duration-100">Shop Now</a>
  </footer>
</SectionContent>