---
import SectionContent from "./SectionContent.astro";
---

<SectionContent headerColor="white" homeSectionName="hero" video={{ src: "/Homepage-Test_Drive-NA-Desktop.webm" }} >
  <header class="text-white">
    <h1 class="text-[39px] mt-[17.5vh] font-medium">Experience Tesla</h1>
    <p class="text-sm">Schedule a Demo Drive Today</p>
  </header>
  <footer class="pb-[80px]">
    <a href="#" class="rounded border-[3px] text-white border-white text-sm inline-block font-medium w-[264px] py-[7px] hover:bg-white hover:text-black duration-100">Demo Drive</a>
  </footer>
</SectionContent>