---
import SectionContent from "./SectionContent.astro";
---

<SectionContent headerColor="white" homeSectionName="hero" video={{ src: "home/Homepage-Test_Drive-NA-Desktop.webm" }} >
  <header class="text-white">
    <h1 class="mt-[17.5vh] font-medium animate-delay-[.75s]">Experience Tesla</h1>
    <p class="animate-delay-[1.25s]">Schedule a Demo Drive Today</p>
  </header>
  <footer class="container">
    <a href="#" class="btn-light--outline mx-auto animate-fade animate-delay-[1.75s]">Demo Drive</a>
  </footer>
</SectionContent>