<section class="h-screen relative snap-center">
  <div class="absolute w-full h-full z-10">
    <img src="public/Homepage-Model-3-Desktop-LHD.avif" alt="Tesla Model 3" class="w-full h-full object-cover">
  </div>
  <section class="absolute z-20 h-full w-full flex flex-col justify-between text-center">
    <header>
      <h1 class="text-[39px] mt-[17.5vh] font-medium">Model 3</h1>
      <a class="text-sm shadow-[0px_1px_0px_black] cursor-pointer hover:shadow-[0px_2px_0px_black] duration-300">Lease from $399/mo</a>
    </header>
    <footer class="pb-[80px]">
      <a href="#" class="rounded border-[3px] border-white text-sm inline-block font-medium w-[264px] py-[7px] hover:bg-white hover:text-black duration-100">Demo Drive</a>
    </footer>
  </section>
</section>