---
import SectionContent from "./SectionContent.astro";
---

<SectionContent headerColor="black" homeSectionName="model-3" image={{ srcMobile: "home/Homepage-Model-3-LHD-Mobile.avif", srcDesktop: "home/Homepage-Model-3-Desktop-LHD.avif", alt: "Tesla Model 3" }}>
  <header>
    <h2 class="text-[36px] sm:text-[40px] font-medium">Model 3</h2>
    <a class="shadow-[0_1px_0_0_#171A20] cursor-pointer hover:shadow-[0_2px_0_0_#171A20] duration-300">Lease from $399/mo</a>
  </header>
  <footer class="container space-y-[14px] sm:space-y-[0px] sm:flex sm:flex-row flex-wrap mx-auto place-content-center gap-[24px]">
    <a href="#" class="btn-dark--blur">Order Now</a>
    <a href="#" class="btn-light--blur">Demo Drive</a>
  </footer>
</SectionContent>