---
import { isDevEnv } from "../../helpers/isDevEnv";
---

<section class="bg-[#F4F4F4]">
  <div class="container md:w-[80%] py-12 sm:py-16 space-y-5">
    <h2 class="mt-[0px] leading-6 sm:leading-7">Electric Powertrain</h2>
    <p class="text-[#393C41] max-w-[790px]">
      Model S platforms unite powertrain and battery technologies for unrivaled performance, range and efficiency. New module and pack thermal architecture allows faster charging and gives you more power and endurance in all conditions.
    </p>
  </div>

  <div class="container-xs sm:aspect-video">
    <picture>
      <source
        srcset={isDevEnv("models/") +
          "Model-S-Dual-Motor-Powertrain-Carousel-Mobile.avif"}
        media="(max-width: 639px)"
      />
      <source
        srcset={isDevEnv("models/") +
          "Model-S-Dual-Motor-Powertrain-Carousel-Desktop.avif"}
        media="(min-width: 640px)"
      />
      <source
        srcset={isDevEnv("models/") +
          "Model-S-Dual-Motor-Powertrain-Carousel-Mobile.avif"}
        media="(min-width: 640px) and (orientation:portrait)"
      />
      <img
        class="w-full h-full object-cover rounded"
        src={isDevEnv("models/") + "Model-S-Dual-Motor-Powertrain-Carousel-Desktop.avif"}
        srcset={isDevEnv("models/") +
          "Model-S-Dual-Motor-Powertrain-Carousel-Desktop.avif"}
        alt="Model S Interior Hero Desktop LHD"
      />
    </picture>
  </div>
</section>